# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs
*.log

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# dependency directories
node_modules/
.next/

# Optional npm and yarn cache directory
.npm/
.yarn/

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# .vscode workspace settings file
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json

# npm, yarn and bun lock files
package-lock.json
yarn.lock
bun.lockb

# rust compiled folders
target/

# test video for streaming example
streaming_example_test_video.mp4

# examples /gen directory
/examples/**/src-tauri/gen/
/bench/**/src-tauri/gen/

# runtime data
pids
*.pid
*.seed
*.pid.lock

# miscellaneous
/.vs
.Thumbs.db
*.sublime*
.idea
debug.log
TODO.md
