@tailwind base;

@layer base {
  h1 {
    @apply mb-4 text-xl font-extrabold leading-none tracking-tight
  }
  h2{
   @apply text-base font-extrabold
  }
  ul{
    @apply max-w-md space-y-1 list-disc list-inside
  }
  ol{
    @apply ps-5 mt-2 space-y-1 list-decimal list-inside
  }
  a {
    @apply cursor-pointer accent-accent underline hover:no-underline
  }
}
/* Basic editor styles */
.tiptap {
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0D0D0D, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0D0D0D, 0.1);
    margin: 2rem 0;
  }
}
